.container-fluid{
    padding: 8%;
}
.heading{
    margin-bottom: 15px;
}
.coupons {
    background-color: rgb(238, 225, 209);
    padding: 20px;
}
.card-wrapper {
    margin-left: 30px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card.carddata {
    border-radius: 15px;
    width: calc(95% - 10px);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 5px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px 5px 5px;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.image {
    border: 2px solid #ccc;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.details {
    margin-left: 30px;
    flex-grow: 1;
}

.button {
    margin: 30px 50px 30px 0;
    flex-shrink: 0;
}

.btn {
    width: 150px;
}