<nav class="breadcrumb">
  <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
      <ng-container *ngIf="!last">
          <a class="breadcrumb-item" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
          <span class="breadcrumb-separator">&gt;</span>
      </ng-container>
      <ng-container *ngIf="last">
          <span class="breadcrumb-item active">{{ breadcrumb.label | firstLetterUpperCase}}</span>
      </ng-container>
  </ng-container>
</nav>

<div class="container-fluid">
  <div class="is-data">
    <div class="heading">
      <h1>{{ category | firstLetterUpperCase }} Coupons:</h1>
    </div>
    <!-- posts -->
    <div class="container-fluid2">
      <div class="card-wrapper">
        <div class="card carddata" *ngFor="let p of pagedPosts; let i = index" >
          <div class="card-content">
            <div class="image">
              <img 
                class="coupon-image"
                [src]="profile ? 'https://couponcouzin.com/backend/couponcouzin/app/src/website/' + p.website[0] : '/assets/null_product.png'"
                alt="image"
                (click)="openDealModal(p.websiteImage, p.websiteName, p.Name, p.couponcode, p.urlpath)" 
              />
            </div>
            <div class="details">
              <span class="coupon-name ellipsis" type="button" (click)="toggleBody(p)">{{ p.Name }}</span>
              <p class="coupon-description text-secondary ellipsis">{{ p.description }}</p>
            </div>
            <div class="getDealBtn">
              <button class="btn btn-danger" (click)="openDealModal(p.website, p.websiteName, p.Name, p.couponcode, p.urlpath)">Get Deal</button>
            </div>
          </div>
          <div class="body body-toggle" (click)="toggleBody(p)">
            <span>{{ p.showBody ? 'Hide Details' : 'Show Details' }}</span>
            <span class="arrow" [class.arrow-down]="p.showBody" [class.arrow-up]="!p.showBody"></span>
          </div>
          <div class="body" [ngClass]="{'hidden': !p.showBody}">
            <ul>
              <li *ngFor="let desc of getDescriptionItems(p.description)">
                <p>{{ desc.trim() }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
        <i class="fa fa-arrow-left"></i>
      </button>
      <div class="" *ngFor="let page of pagesToShow">
        <ng-container *ngIf="pagesToShow.length > 1">
          <ng-container *ngIf="page === 'ellipsis'">
            <span class="ellipsis PaginationDot">...</span>
          </ng-container>
          <ng-container *ngIf="page !== 'ellipsis'">
            <button (click)="changePage(page)" [ngClass]="{'active': page === currentPage}">{{ page }}</button>
          </ng-container>
        </ng-container>
      </div>
      <button (click)="changePage(currentPage + 1)" [disabled]="currentPage >= lastPage">
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
