<div class="heading">
  <h3>Top Coupon Stores</h3>
</div>
<div class="top_stores">
  <div class="featuredStore" *ngFor="let featuredStore of featuredStore">
    <div class="card mb-3" (click)="couponCompanyName(featuredStore.Name)">
      <h5 class="card-header text-secondary">Featured Store Of The Week</h5>
      <div class="card-body">
        <div>
          <img [width]="65" [height]="40" [src]="profile
                                  ? 'https://couponcouzin.com/backend/couponcouzin/app/src/website/' + featuredStore.image
                                  : '/assets/null_product.png'" alt="image" class="card-image" />
        </div>
      </div>
      <div class="card-footer text-secondary">
        <p>
          {{featuredStore.count}} Coupons Available Today
        </p>
      </div>
    </div>
  </div>
  <div class="stores">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let chunk of storeChunks">
        <div class="custom-grid">
          <div *ngFor="let store of chunk" (click)="couponCompanyName(store.Name)">
            <div class="secondCard">
              <div class="secondCard-body">
                <img
                  [src]="profile ? 'https://couponcouzin.com/backend/couponcouzin/app/src/website/' + store.image : '/assets/null_product.png'"
                  alt="image" class="size-50 rounded-22 object-cover" />
              </div>
              <div class="secondCard-text">
                <a type="button" (click)="couponCompanyName(store.Name)">
                  <p>{{store.Name}} <br> <u>{{store.count}} {{store.count === 1 ? 'coupon' : 'coupons'}}</u></p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>

  </div>
</div>