<section class="banners">
  <div class="containers">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slide of slides">
        <a href="{{slide.url}}" target="_blank">
          <div class="image-wrapper">
            <img [src]="profile
          ? 'http://couponcouzin.com/backend/couponcouzin/app/src/banner/' + slide.bannerimage
          : '/assets/null_product.png'" class="d-block">
          </div>
          </a>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>