<div class="container-fluid">
  <div class="heading">
    <h3> Blog </h3>
  </div>
  <div class="row">
    <div class="leftcolumn">
      <div *ngFor="let post of blogData" class="card">
        <h2>{{ post.title }}</h2>
        <h6>{{ post.createdAt | date: 'medium' }}</h6>
        <div class="image">
          <img [src]="profile
                        ? 'http://192.168.0.158:2022/blogs/' + post.image[0]
                        : '/img/avatars/3.png'" alt="image" />
        </div>
        <div class="subAndContent">
          <div *ngFor="let content of post.contents" class="content">
            <h4>{{ content.subheading }}</h4>
            <p>{{ content.content }}</p>
          </div>
        </div>
        <div class="comment">
          <div class="form-wrapper">
            <form [formGroup]="myForm" (ngSubmit)="submitForm()">
              <h1>Leave a Comment</h1>
              <p id="note"> Your email address will not be published anywhere. Required fields are marked * </p>
              
              <div class="form-group">
                <label for="comment">Comment*</label>
                <textarea rows="1"></textarea>
              </div>

              <div class="form-group">
                <label for="name">Name*</label>
                <input type="text">
              </div>

              <div class="form-group">
                <label for="email">Email*</label>
                <input type="text">
              </div>

              <div class="form-group">
                <label for="website">Website</label>
                <input type="text">
              </div>

              <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:100px;">Image</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>


</div>