<div class="container-fluid">
    <div class="heading">
        <h2> Contact Us:</h2>
    </div>
    <div class="address">
        <h6>For any feedbacks, suggestions and complaints you can write us at 
            <a href="mailto: 9planetsweb@gmail.com">9planetsweb@gmail.com</a>.
        </h6>
        <h5> Our Address: </h5>
        <p> # 1-4-221/1C, 1st Floor, </p>
        <p> Manava Mandiram Road, </p>
        <p> Near RTC Work Shop, </p>
        <p> Bhavanipuram, Vijayawada. </p>
    </div>
    <div class="map">
        <div class="geo"><h4> Geo Location: </h4><p> 16.52938923932925, 80.59957404379712 <p></p></div>
            <iframe  class="iframe"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d239.05850087964836!2d80.599591738243!3d16.529327654237136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35ef03db7bf6a5%3A0xfeef5417c89b1718!2s9%20planets%20Web!5e0!3m2!1sen!2sin!4v1695702450674!5m2!1sen!2sin" 
            width="600" height="400"  loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>
