.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.logo_navitems{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.logo img {
  margin: 0 15px 0;
  max-width: 100%;
  max-height: 80px;
  object-fit: contain;
}

/* label #btn,
label #cancel {
  color: #1a0900;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
} */

.navbar-links {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

.nav-item {
  font-weight: bold;
  color: #1a0900;
  font-family: 'Georgia'; /* main-heading */
}

.nav-item:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 80%;
  background: #ff8000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .4s linear;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: center;
}

.navbar a {
  margin-right: 20px;
  text-decoration: none;
  color: #1a0900;
}


/* Style the dropdown menus */
.navbar ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.list-container {
  background-color: #fff2e6;
  padding-left: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 3;
  padding-right: 25px;
  gap: 5px;
}

.search-bar input {
  font-family: 'Trebuchet MS';
  background-color: transparent;
  flex-grow: 3;
  padding: 5px;
  border: 1px solid #ffd9b3;
  border-radius: 5px;
  margin-top: 15px;

}

.search-bar input:focus {
  border-color: 1px #ffa600;
  box-shadow: 0 0 10px rgba(209, 121, 7, 0.308);
  outline: none;
}

.search-bar .btn {
  font-family: Verdana;
  background-color: #ff9933;
  color: #ffffff;
  border: 1px solid #ffb366;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 15px;
}

.search-bar button:hover {
  background-color: #e67300;
  color: white;
}

/* DropDowns */

.list {
  margin-top: 10PX;
  position: relative;
  display: inline-block;
  text-align: left;
}

.dropdown-btn {
  margin-top: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-list {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  z-index: 1;

}


.list:hover .dropdown-list {
  display: block;
}

/* Specific styles for TOP STORES dropdown */
.stores-dropdown:hover .dropdown-list-stores {
  display: block;
}

.dropdown-list-stores {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: #fff2e6;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  z-index: 1;
}

.dropdown-list-stores li {
  padding: 8px 16px;
}

.dropdown-list-stores li:hover {
  background-color: #ffe6cc;
  border-radius: 10%;
}
/* for list items */

.category .list-item-main {
  font-weight: bold;
  margin-bottom: 5px;
}

.category {
  font-weight: bold;
  margin-bottom: 5px;
}
.list-item-main{
   font-family: Verdana; /* sub-heading */
}
.list-item {
  font-family: 'Trebuchet MS'; /* content */
  font-weight: normal;
}

.dropdown-list li:hover {
  background-color: #ffe6cc;
  border-radius: 10%;
}

@media (max-width: 905px) {
  .navbar img {
    left: 8%;
    top: 20px;
    width: 130px;
  }

  .navbar-links {
    font-size: small;
  }

  .search-bar input {
    height: 8%;
    width: 60%;
  }

  .search-bar button {
    font-size: 13px;
    width: fit-content;
    align-items: center;
    align-content: center;
    text-align: center;
  }

}

@media (max-width: 825px) {
  .navbar img {
    left: 3%;
    top: 10px;
    width: 110px;
  }

  .navbar-links {
    font-size: small;
  }

  .search-bar input {
    height: 8%;
    width: 60%;
  }

  .search-bar button {
    font-size: 13px;
    width: fit-content;
    align-items: center;
    align-content: center;
    text-align: center;
  }

}