.title-bottom-border {
    border-bottom: 5px solid #ff8000; 
    margin-bottom: 4px;
  }

  .products{
    margin-top: 15px;
  }


.carousel-inner {
    transition: transform 0.5s ease; 
  }
  
  .card-wrapper:hover .card {
    background-color: #f0f0f0; 
    transform: scale(1.02); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); 
  }
  .card {
    max-width: 90%; 
    height: 350px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden; 
    position: relative;
    padding: 0;
    margin: 0;
    transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s;
}



  .card-header{
    background-color: white;
    text-align: center;
    position: relative;
  }
  .card-header *:not(.price-badge) {
    text-align: left; 
}

.price-badge {
  background-color: #ff9933; 
  color: #fff; 
  font-family: Verdana;
  padding: 4px 8px; 
  border-radius: 0 18px 18px 0 ; 
  font-weight: bold;
  font-size: 13px; 
  position: absolute; 
  top: 15px; 
  left: 0; 
  z-index: 1; 
}

.image-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 120px;
  object-fit: contain;
}

  .card-body {
    overflow: hidden;
    align-items: center;
  }
  
  .price-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .name-section{
    text-align: justify;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 80px;
  }

  .product-title {
    text-align: center !important;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    font-size: small;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 100%;
  }
  .urlpath{
    text-decoration: none;
    color: rgb(61, 61, 61);
  }
  .urlpath:hover{
    color: #000000;
  }
  .price-section{
    text-align: center;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
  
  .card-header img {
    object-fit: contain; 
  }
  
  .card-tittle {
    font-weight: bold;
    font-size: 16px; /* Adjust font size as needed */
    border-top: 1px solid #ccc; /* Adjust border styling as needed */
  }
    

  .shopNow{
    height: fit-content;
    font-weight: bold;
    font-family: Verdana;
    background-color: #ff8000 ;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .shopNow a{
    margin: 0 3px;
    color: white;
    text-decoration: none;
  }

  .shopNow:hover{
    background-color: green;
  }

/* Responsive Styles */
@media (max-width: 992px) {
  .col-lg-3 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card {
    width: 100%;
    height: auto; 
  }
}




  
  