<div class="container-fluid">
  <div class="fancy-title title-bottom-border" style="margin-top: 25px; display: flex; flex-direction: row;" >
    <h3 *ngIf="showH3Element" style="font-family: 'Georgia'; font-size: x-large; font-weight: bold;" ><i class="fa fa-bolt" aria-hidden="true" >
    </i>&nbsp;Flash Deals
    </h3>
  </div>
  <div class="products">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let card of slides">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-header">
              <span class="price-badge"> {{ card.discount }}
                <span *ngIf="isDiscountNumber(card.discount)"> % OFF </span>
              </span>
              <a href="{{card.urlpath}}" target="_blank">
                <div class="image-container">
                  <img [src]="profile
                                 ? 'https://couponcouzin.com/backend/couponcouzin/app/src/posts/' + card.postimage
                                 : '/assets/null_product.png'" alt="image"/>
                </div>
              </a>
            </div>
            <div class="card-header">
              <div class="name-section">
                <p class="product-title">
                  <a class="urlpath" href="{{card.urlpath}}" target="_blank"> {{ card.Name }} </a>
                </p>
              </div>
              <hr>
              <div class="price-section" style="text-align: center;">
                <span style="text-decoration: line-through ;" *ngIf="isDiscountNumber(card.discount)">₹{{ (card.price / (1 - (card.discount / 100))) | number: '1.0-0' }}</span>
                <span class="card-title" style="font-weight: bold; font-size: normal; font-family: 'Trebuchet MS';">
                    {{ card.price | currency: 'INR': 'symbol': '1.0-0' }}
                  </span>
              </div>
            </div>
            <div class="card-footer" style="display: flex; justify-content: space-between;">
              <img [width]="40" [height]="35" [src]="profile
                                  ? 'https://couponcouzin.com/backend/couponcouzin/app/src/website/' + card.website
                                  : '/assets/null_product.png'" alt="image" class="size-50 rounded-22 object-contain" style=" padding: 0 15px 0 15px;"/>
              <button class="btn shopNow button3"> <a href="{{card.urlpath}}" target="_blank"> Check </a> </button>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <br>
</div>