<div class="container" style="padding-top: 10%;">
    <div *ngIf="loadingData; else dataLoaded">
        <app-loading-spinner></app-loading-spinner>
        <div class="spinner"></div>
    </div>
    <ng-template #dataLoaded>
        <div class="heading">
            <span class="coupons">
                <h3> Coupons: </h3>
            </span>
        </div>
        <div class="top-border custom-grid">
            <ng-container *ngIf="displayedCouponCards.length > 0; else noCouponData">
                <div class="card" *ngFor="let Coupon of displayedCouponCards">
                    <div class="card-header">
                        <a href="{{Coupon.urlpath}}" target="_blank">
                            <div class="coupon-image-container">
                                <img [style.width.%]="100" [height]="70" [src]="profile
                                     ? 'http://couponcouzin.com/backend/couponcouzin/app/src/website/' + Coupon.website
                                     : '/assets/null_product.png'" alt="image" (error)="onImageErrorP($event)"/>
                            </div>
                        </a>
                        <div class="name-section">
                            <p class="coupon-title" style="font-weight: bold; font-size: 13px; font-family: 'Verdana';">
                                <a class="urlpath" href="{{Coupon.urlpath}}" target="_blank">{{ Coupon.Name }}</a>
                            </p>
                        </div>
                        <div class="price-section">
                            <p class="coupon-title2" style="font-weight: bold; font-size: 12px; color: green; font-family: 'Trebuchet MS';">
                                {{ Coupon.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #noCouponData>
                <div class="col-md-12 text-center" style="margin-top: 50px; font-style: italic; font-family: 'Trebuchet MS';">
                    <p>No coupons available yet...</p>
                </div>
            </ng-template>
            <div class="button text-center" *ngIf="remainingCouponCards.length > 0">
                <button class="btn button2" (click)="loadMoreCouponCards()">Show More</button>
            </div>
        </div>
        <!-- products -->
        <br>
        <div class="heading">
            <span class="products">
                <h3> Products: </h3>
            </span>
        </div>
        <div class="top-border custom-grid">
            <ng-container *ngIf="displayedCards.length > 0; else noData">
                <div class="card" *ngFor="let card of displayedCards">
                    <div class="card-header">
                        <!-- <span class="price-badge" *ngIf="isDiscountNumber(card.discount)">{{ card.discount }}% OFF</span> -->
                        <a href="{{card.urlpath}}" target="_blank">
                            <div class="image-container">
                                <img [src]="profile
                                     ? 'http://couponcouzin.com/backend/couponcouzin/app/src/posts/' + card.postimage
                                     : '/assets/null_product.png'" alt="image" (error)="onImageErrorP($event)"/>
                                <!-- [style.width.%]="100" [height]="120" -->
                            </div>
                        </a>
                    </div>
                    <div class="card-header">
                        <div class="name-section">
                            <p class="product-title" style="font-weight: bold; font-size: 13px; font-family: 'Verdana';">
                                <a class="urlpath" href="{{card.urlpath}}" target="_blank">{{ card.Name }}</a>
                            </p>
                        </div>
                        <hr>
                        <div class="price-section">
                            <p class="discount" *ngIf="isDiscountNumber(card.discount)"> -{{card.discount}} %off </p>
                            &nbsp;&nbsp;&nbsp;<p class="price"><b> ₹ {{ card.price }}  </b></p>
                        </div>
                    </div>
                    <div class="card-footer" style="display: flex; justify-content: space-between;">
                        <div class="brand-logo">
                            <img [width]="80" [height]="50" [src]="profile
                             ? 'http://couponcouzin.com/backend/couponcouzin/app/src/website/' + card.website
                             : '/assets/null_product.png'" alt="image" (error)="onImageErrorW($event)"/>
                        </div>
                        <button class="btn shopNow">
                            <a href="{{card.urlpath}}" target="_blank">Check</a>
                        </button>
                    </div>
                </div>
            </ng-container>
            <ng-template #noData>
                <div class="col-md-12 text-center" style="margin-top: 50px; font-style: italic; font-family: 'Trebuchet MS';">
                    <p>No products available yet...</p>
                </div>
            </ng-template>
            <div class="button text-center" *ngIf="remainingCards.length > 0">
                <button class="btn button2" (click)="loadMoreCards()">Show More</button>
            </div>
        </div>
    </ng-template>
</div>
