<div class="modal-header">
  <div class="image_details" style="display: flex; justify-content: space-between;">
    <div class="card">
      <div class="image">
        <img [style.width.px]="80" [style.height.px]="50"
          [src]="profile ? 'https://couponcouzin.com/backend/couponcouzin/app/src/website/' + data[0] : '/assets/null_product.png'"
          alt="image" (error)="onImageErrorP($event)" />
      </div>
    </div>
    <div class="details">
      <p>{{ data[2] }}</p>
    </div>
  </div>
  <div class="close-button" style="position: relative;">
    <button type="button" class="btn btn-close" aria-label="Close"
      style="border: none; size: 10px; position: absolute; top: 0; right: 0;" (click)="closeModal()"></button>
  </div>
</div>

<div class="modal-body">
  <div class="content">
    <div class="text">
      <p>Coupon Code</p>
    </div>
    <div class="code">
      <div class="code_data">
        <p>{{data[3]}}</p>
      </div>
      <div class="copy_button">
        <button class="btn" (click)="copyCodeToClipboard(data[3])"><i class="fa fa-copy"></i></button>
      </div>
    </div>
    <a href="{{data[4]}}" target="_blank"><i class="fa fa-external-link"></i> Go To {{data[1]}} Website </a>
  </div>
</div>
