.modal-header {
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(243, 243, 239);
}
.image_details{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
.details{
    width: 90%;
}
.details p{
    padding-left: 15px;
    font-family: 'Verdana';
    white-space: wrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 90%;
    font-size: 18px; 
    font-weight: bold;
}
.card{
    width: 110px;
    height: 70px;
    border-radius: 2%;
    display: grid;
    place-items: center;
}
.image img{
    object-fit: contain;
}

.modal-body{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content{
    width: 60%;
    height: 40%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content a{
    margin-top: 5px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
}
.text{
    text-align: center;
}
.text p{
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
.code{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    border: 1px dashed green;
    border-radius: 5%;
    text-align: center;
}
.code_data{
    display: grid;
    place-items: center;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.code p{
    margin-top: 2%;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    
}
.copy_button{
    z-index: 10;
}
.copy_button i{
    font-size: xx-large;
}


