<div class="container-fluid">
  <div class="no-data" *ngIf="websites.length === 0">
    <img src="../../../assets/no-search.jpg" alt="search-not-found" />
    <h3> sorry! no coupns available in this category.</h3>
    <h4 class="text-secondary"> see all coupons under <a routerLink="/allDeals" routerLinkActive="active"> Loot
        Deals</a> section. </h4>
  </div>
  <div class="is-data" *ngIf="websites.length > 0">
    <div class="heading">
      <h3 style="font-size: xx-large;"> {{ maincategory | firstLetterUpperCase }} Offers & Coupons: </h3>
    </div>

    <!--  -->
    <div class="brands">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let w of websites" >
      <div class="cards">
        <div class="row">
          <div class="card brand-card" >
            <div class="card-body">
              <a (click)="couponbywebsite(w.Name)">
                <img [width]="60" [height]="40"
                  [src]="profile ? 'https://couponcouzin.com/backend/couponcouzin/app/src/website/' + w.image : '/assets/null_product.png'"
                  alt="image" (error)="onImageErrorP($event)" />
              </a>
              <a class="links" (click)="couponbywebsite(w.Name)">
                <span style="font-size: 12px; font-family: 'Trebuchet MS';" class="text-secondary">
                  {{ w.Name | firstLetterUpperCase }} <br>
                </span>
                <span style="font-size: 12px; font-family: 'Trebuchet MS';" class="text-secondary">
                  {{ w.count > 9 ? w.count : "0" + (w.count) }} {{ w.count > 1 ? 'Offers' : 'Offer' }}
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
    </div>
    <!-- posts -->
    <div class="container-fluid2">
      <div class="card card-data" *ngFor="let p of posts; let i = index">
        <div class="header">
          <div class="main-data">
            <div class="image">
              <img [style.width.%]="90" [style.height.%]="100"
                [src]="profile ? 'https://couponcouzin.com/backend/couponcouzin/app/src/website/' + p.websiteImage : '/assets/null_product.png'"
                alt="image" style="cursor: pointer;"
                (click)="openDealModal(p.websiteImage, p.websiteName, p.Name, p.couponcode, p.urlpath)"
                (error)="onImageErrorP($event)" />
            </div>
            <div class="details">
              <span style="font-size: 25px; font-weight: bold; font-family: 'Verdana'; min-height: 23px;" type="button" class="ellipsis"
                (click)="openDealModal(p.websiteImage, p.websiteName, p.Name, p.couponcode, p.urlpath)">{{ p.Name
                }}</span>
              <p style="font-size: 18px; margin-top: 5px;" class="text-secondary ellipsis"> {{ getDescriptionItems(p.description)[0].trim() }} </p>
            </div>
            <div class="button">
              <button class="btn"
                (click)="openDealModal(p.websiteImage, p.websiteName, p.Name, p.couponcode, p.urlpath)">Get
                Deal</button>
            </div>
          </div>
        </div>

        <div class="body body-toggle" (click)="toggleBody(p)">
          <span>{{ p.showBody ? 'Hide Details' : 'Show Details' }} </span>
          <span class="arrow" [class.arrow-down]="p.showBody" [class.arrow-up]="!p.showBody"></span>
        </div>
        <div class="body" [ngClass]="{'hidden': !p.showBody}">
            <ul>
              <li *ngFor="let desc of getDescriptionItems(p.description)"> <p> {{desc.trim()}} </p> </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>