.nav-bar {
    background-color: rgba(243, 243, 243, 0.911);
    position: fixed;
    z-index: 5;
    width: 100%;
}

/*footer*/

.footer {
    background-color: #b5c5e0;
    color: #333;
    padding: 10px 0;
}

.footer-contain {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.footer-links {
    display: flex;
    gap: 20px;
    padding: 2%;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    position: relative;
}

.footer-links::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border-bottom: 1px solid rgb(99, 97, 97);
}

.footer-logo img {
    max-width: 150px;
    mix-blend-mode: multiply;
}

.footer-section {
    margin-left: 50px;

}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}


.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #333;
    text-decoration: none;
}

.footer-section a:hover {
    border-bottom: 1px solid;
    color: blue;
}

.footer-section a.active {
    color: green;
}

h4 {
    display: flex;
    flex-direction: row;
    color: black;
}
.copy-right{
    display: flex;
    flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}

.copy-right h1 {
    font-weight: bold;
    color: green;
    padding: 15px;
}