<div class="app-container">
  <header>
    <div class="nav-bar">
      <app-top-nav-bar></app-top-nav-bar>
    </div>
  </header>

  <div class="container-fluid">
    <router-outlet class="main-content"></router-outlet>
  </div>

<footer class="footer">

  <div class="footer-contain">

    <div class="footer-links">
      <div class="footer-logo">
        <img src="/assets/couponcouzin.png" alt="Logo">
      </div>
      <div class="footer-section">
        <h4>Help & Support</h4>
        <ul>
          <li><a routerLink="/Freaquently Asked Questions" routerLinkActive="active" target="_blank">FAQs</a></li>
          <li><a routerLink="/contact us" routerLinkActive="active" target="_blank">Contact Us</a></li>
          <li><a routerLink="/security tips" routerLinkActive="active" target="_blank">Security Tips</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Legal Information</h4>
        <ul>
          <li><a routerLink="/privacy policy" routerLinkActive="active" target="_blank">Privacy Policy</a></li>
          <li><a routerLink="/terms and conditions" routerLinkActive="active" target="_blank">Terms &
              Conditions</a></li>
          <li><a routerLink="about us" routerLinkActive="active" target="_blank">About Us</a></li>
        </ul>
      </div>
    </div>
    <div class="copy-right">
      <h1> #ShopThroughCouponCouzin.com </h1>
      <p>© Copyright 2023. couponcouzin.com is Registered Trademark of 9planetsweb Pvt. Ltd. All Rights Reserved.
        Unauthorized use is strictly prohibited.</p>
    </div>
  </div>

</footer>
</div>