.nav-bar {
    background-color: rgba(243, 243, 243, 0.911);
    position: fixed;
    z-index: 5;
    width: 100%;
}

.footer {
    background-color: #ffd9b3;
    color: #333;
    padding: 10px 0;
    margin-top: 15px;
}

.footer-contain {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.footer-links {
    display: flex;
    gap: 20px;
    padding: 2%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: relative;
}

.footer-links::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border-bottom: 1px solid rgb(99, 97, 97);
}

.footer-logo img {
    max-width: 200px;
    max-height: 200px;
}

.footer-section {
    margin-left: 50px;

}

.footer-section h6 {
    align-self: center;
    text-align: center;
}

.footer-section h4 {
    font-family: Verdana; /* sub-heading */
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}


.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #333;
    font-family: 'Trebuchet MS'; /* content */
    text-decoration: none;
}

.footer-section a:hover {
    border-bottom: 1px solid;
    color: #ff9933;
}

.footer-section a.active {
    color: #cc6600;
}

h4 {
    display: flex;
    flex-direction: row;
    color: black;
}

.copy-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.copy-right h1 {
    font-family: 'Georgia'; /* main-heading */
    font-weight: bold;
    color: #804000;
    padding: 15px;
}
.copy-right p{
    font-family: 'Trebuchet MS'; /* content */
}