.top{
  display: flex;
  align-items: center;
  justify-content: end;
}
.top a{
  text-decoration: none;
  color: #ff8000;
}
.btn {
  background-color: transparent;
  border: 1px solid #ff8000;
  margin: 0 25px 25px;
  display: inline-block; /* Ensure the button is displayed as an inline block */
  transition: transform 1.2s; /* Add a smooth transition for the transform property */
  animation: bounce 1.2s ease infinite;
}

@keyframes bounce {
  0%, 25%, 50%, 75%, 100% {
    transform: translateY(0); /* Set keyframes for bounce animation */
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-30px);
  }
}