<div class="home" style="padding-top: 130px;">
    <div *ngIf="loadingData; else dataLoaded">
        <app-loading-spinner></app-loading-spinner>
        <div class="spinner"></div>
    </div>
    <ng-template #dataLoaded>
        <div class="top-carousel">
            <app-top-carousel></app-top-carousel>
        </div>
        <br>
        <div class="topStores">
            <app-top-stores></app-top-stores>
        </div>
        <br>
        <div class="card-carousel" id="jumpToTopDeals">
            <app-carousel></app-carousel>
        </div>

        <div class="topdeals">
            <app-topdeals></app-topdeals>
        </div>
        <div class="top">
            <a type="button" class="btn" href="#jumpToTopDeals">
                <i class="fa fa-arrow-up"></i>
            </a>
        </div>

    </ng-template>

</div>