<div class="home">
    <div *ngIf="loadingData; else dataLoaded">
        <app-loading-spinner></app-loading-spinner>
        <div class="spinner"></div>
    </div>

    <ng-template #dataLoaded>
        <div class="top-carousel">
            <app-top-carousel></app-top-carousel>
        </div>
        <br>
        <!-- Ads -->
        <div class="ads">
            <app-ad></app-ad>
        </div>
        <br>
        <div class="cat_icons">
            <app-categoryicons></app-categoryicons>
        </div>

        <br>
        <div class="topStores">
            <app-top-stores></app-top-stores>
        </div>

        <br>
        <!-- Ads -->
        <div class="ads">
            <app-horizonta-ad2></app-horizonta-ad2>
        </div>

        <br>
        <div class="card-carousel" id="jumpToTopDeals">
            <app-carousel></app-carousel>
        </div>
        <br>
        <div class="topdeals">
            <app-topdeals></app-topdeals>
            <h1></h1>
        </div>

        <br>
        <!-- Ads -->
        <div class="ads">
            <app-ad></app-ad>
        </div>
        <br>

        <div class="BankOffers">
            <app-bank-wallet-offers></app-bank-wallet-offers>
        </div>



        <div class="top">
            <a type="button" class="btn" href="#jumpToTopDeals">
                <i class="fa fa-arrow-up"></i>
            </a>
        </div>

    </ng-template>

</div>