
.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topDeals{
  width: 79%;
}
.stores{
  width: 20%;
}

.top-border {
    border-top: 5px solid #ff8000;
    margin-bottom: 20px;
}


.title2-bottom-border {
    border-bottom: 5px solid #ff8000;
    margin-bottom: 4px;
    width: 100%;
}

.urlpath{
  text-decoration: none;
  color: rgb(61, 61, 61);
}
.urlpath:hover{
  color: #000000;
}
.card {
  display: inline-flex;
  margin-top: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
.card:hover {
  /* Define the styles for the hover effect here */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.product-title {
  text-align: center;
  font-weight: bold;
  font-size: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to three lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  width: 100%;
}

.fancy-title{
    display: inline-flex;
    justify-content: space-between;
}
  
  
  .card-body{
    background-color: white;
    text-align: center;
    position: relative;
  }

  .price-badge {
    background-color: #ff9933; 
    color: #fff; 
    padding: 4px 8px; 
    border-radius: 0 18px 18px 0 ;
    font-weight: bold; 
    position: absolute; 
    top: 10px;
    left: 0; 
    z-index: 1;
  }

  .image-container {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 120px; 
    object-fit: contain;
  }
    
  .brand-logo img{
    object-fit: contain;
  }

  .button2{
    margin: 35px;
    width: fit-content;
    font-family: 'Verdana';
    background-color: #fff;
    color: #b35900;
    border: 1px solid #b35900;
  }
  .button2:hover {
    box-shadow: rgba(240, 172, 46, 0.3) 5px 5px, rgba(240, 179, 46, 0.2) 10px 10px, rgba(240, 179, 46, 0.1) 15px 15px, rgba(240, 162, 46, 0.05) 20px 20px;
  }
  .shopNow{
    height: fit-content;
    font-weight: 500;
    background-color: #ff9933 ;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .shopNow a{
    margin: 0 3px;
    color: #ffffff;
    text-decoration: none;
  }

  .shopNow:hover{
    background-color: #e67300;
  }
  .stores .card{
    max-height: 160px;
    max-width: 47%;
  }
  .card-boddy img{
    object-fit: contain;
  }

  .card-container {
    height: 655px;
    overflow-y: auto;
}