<div class="container-fluid">
    <div class="topDeals col-md-9 ">
        <div class="fancy-title" style="margin-top: 25px;display: flex; align-items: center;">
            <h1 *ngIf="showH3Element">
                <!-- current -->
                <ng-container *ngIf="selectedCompany; else topDealsHeading">
                    <!-- <p style="font-family: 'Georgia';"><b> {{ selectedCompany |
                            firstLetterUpperCase }} </b></p> -->

                    <div class="brand-logo">
                        <img [width]="100" [height]="50" [src]="profile
                                        ? 'https://couponcouzin.com/backend/couponcouzin/app/src/website/' + displayedCards[0].website
                                        : '/assets/null_product.png'" alt="image" (error)="onImageErrorW($event)" />
                    </div>
                </ng-container>
                <ng-template #topDealsHeading>
                    <p style="font-family: 'Georgia'; font-size: x-large; font-weight: bold;">Top Deals</p>
                </ng-template>
            </h1>
            <h3>
                <span class="align-text-bottom">
                    <a class="btn btn-primary" (click)="pageReload()"
                        style="font-size: 15px; margin-left: auto;font-family: 'Trebuchet MS';"
                        *ngIf="selectedCompany">View Top Deals&nbsp;
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a></span>
            </h3>
        </div>
        <div class="row top-border">
            <ng-container *ngFor="let card of displayedCards" class="ng-container">
                <div class="card col-md-3" style="margin: 6px;  width: calc(24% - 4px);">
                    <div class="card-header">
                        <p class="price-badge" *ngIf="isDiscountNumber(card.discount)"
                            style="font-family: 'Verdana'; font-size: 13px;">{{ card.discount }}% off</p>
                        <a href="{{card.urlpath}}" target="_blank">
                            <div class="image-container">
                                <img [src]="profile
                                         ? 'https://couponcouzin.com/backend/couponcouzin/app/src/posts/' + card.postimage
                                         : '/assets/null_product.png'" alt="image" (error)="onImageErrorP($event)" />
                            </div>
                        </a>
                    </div>
                    <div class="card-header">
                        <div class="name-section">
                            <p class="product-title"
                                style="font-weight: bold; font-size: small;font-family: 'Trebuchet MS';">
                                <a class="urlpath" href="{{card.urlpath}}" target="_blank">{{ card.Name }}</a>
                            </p>
                        </div>
                        <hr>
                        <div class="price-section" style="text-align: center;">
                            <span class="card-title"
                                style="font-weight: bold; font-size: normal; font-family: 'Trebuchet MS'; ">
                                ₹ {{ card.price }}</span>
                        </div>
                    </div>
                    <div class="card-footer"
                        style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="brand-logo">
                            <img [width]="80" [height]="50" [src]="profile
                                    ? 'https://couponcouzin.com/backend/couponcouzin/app/src/website/' + card.website
                                    : '/assets/null_product.png'" alt="image" (error)="onImageErrorW($event)" />
                        </div>

                        <button class="btn shopNow button1">
                            <a href="{{card.urlpath}}" target="_blank" style="font-family: 'Verdana';">Check</a>
                        </button>
                    </div>
                </div>
            </ng-container>
            <div class="col-md-12 text-center" *ngIf="remainingCards.length > 0">
                <button class="btn button2" (click)="loadMoreCards()">Show More</button>
            </div>
        </div>

    </div>

    <!-- popular stores -->
    <div class="stores col-md-3 ">
        <div class="fancy-title title2-bottom-border" style="margin-top: 25px;">
            <h3 *ngIf="showH3Element">
                <p style="font-family: 'Georgia'; font-size: x-large; font-weight: bold;">Pick By Stores</p>
            </h3>
        </div>
        <div class="row card-container">
            <ng-container *ngFor="let w of websites">
                <div class="card col-md-6" style="margin: 1px; margin-bottom: 15px;  width: calc(50% - 4px);align-content: center;">
                    <div class="card-boddy">
                        <button class="btn button3" (click)="couponByCompany(w.Name)">
                            <img [style.width.%]="100" [style.height.%]="100" [src]="profile ? 'https://couponcouzin.com/backend/couponcouzin/app/src/website/' + w.image[0] : '/assets/null_product.png'" alt="image" (error)="onImageErrorW($event)" />
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <!-- Ads -->
        <div class="adsV">
            <app-vertical-ad></app-vertical-ad>
        </div>
    </div>
    
</div>