.container-fluid {
    display: inline-flex;
    
}

.title-bottom-border {
    border-bottom: 5px solid seagreen;
    margin-bottom: 4px;
}
.top-border {
    border-top: 5px solid seagreen;
    margin-bottom: 20px;
}


.title2-bottom-border {
    border-bottom: 5px solid #ff9900;
    margin-bottom: 4px;
    width: 100%;
}

.urlpath{
  text-decoration: none;
  color: black;
}
.urlpath:hover{
  color: blue;
}
.card {
  display: inline-flex;
  margin-top: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
.card:hover {
  /* Define the styles for the hover effect here */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.product-title {
  font-weight: bold;
  font-size: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to three lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  width: 90%;
}

.fancy-title{
    display: inline-flex;
    justify-content: space-between;
}
  
  
  .card-body{
    background-color: white;
    text-align: center;
    position: relative;
  }

  .price-badge {
    background-color: rgb(0, 162, 255); /* Set the background color to your desired color */
    color: #fff; /* Set the text color to white or a color that contrasts well with the background */
    padding: 4px 8px; /* Add padding to make the badge visually appealing */
    border-radius: 0 18px 18px 0 ; /* Add rounded corners for the badge */
    font-weight: bold; /* Optionally set font-weight */
    position: absolute; /* Position the badge absolutely */
    top: 10px; /* Adjust the top position as needed to overlap */
    left: 0; /* Adjust the left position as needed to overlap */
    z-index: 1; /* Ensure the badge is above other content */
  }

  .button2{
    margin: 15px;
    width: fit-content;
  }
  .shopNow{
    height: fit-content;
    font-weight: bold;
    background-color: #ff8c1a ;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .shopNow a{
    margin: 0 3px;
    color: white;
    text-decoration: none;
  }

  .shopNow:hover{
    background-color: green;
  }