<div class="flex-container">
    <div class="icons" (click)="assignValueToVariable('travel')">
        <img src="../../../assets/icons/Travel.png" alt="icon">
        <p>Travel</p>
    </div>
    <div class="icons" (click)="assignValueToVariable('fashion')">
        <img src="../../../assets/icons/Fashion.png" alt="icon">
        <p>Fashion</p>
    </div>
    <div class="icons" (click)="assignValueToVariable('food')">
        <img src="../../../assets/icons/Food & Dining.png" alt="icon">
        <p>Food</p>
    </div>
    <div class="icons" (click)="assignValueToVariable('grocery')">
        <img src="../../../assets/icons/Grocery.png" alt="icon">
        <p>Grocery</p>
    </div>
    <div class="icons" (click)="assignValueToVariable('mobiles')">
        <img src="../../../assets/icons/Electronics.png" alt="icon">
        <p>Electronics</p>
    </div>
    <div class="icons" (click)="assignValueToVariable('recharge')">
        <img src="../../../assets/icons/Recharge.png" alt="icon">
        <p>Recharge</p>
    </div>
    <div class="icons" (click)="assignValueToVariable('beauty')">
        <img src="../../../assets/icons/Beauty&Health.png" alt="icon">
        <p>Beauty</p>
    </div>
    <div class="icons" (click)="assignValueToVariable('computer')">
        <img src="../../../assets/icons/Computers,Laptops&Gaming.png" alt="icon">
        <p>Computers</p>
    </div>
    <div class="icons" (click)="assignValueToVariable('appliances')">
        <img src="../../../assets/icons/Appliances.png" alt="icon">
        <p>Appliances</p>
    </div>
    <div class="icons" (click)="assignValueToVariable('kids')">
        <img src="../../../assets/icons/Kids,Babies&Toys.png" alt="icon">
        <p>Kids Toys</p>
    </div>
    <div class="icons" (click)="assignValueToVariable('tv')">
        <img src="../../../assets/icons/TV,Audio_Video&Movies.png" alt="icon">
        <p>TV and OTT</p>
    </div>
    
</div>