<div class="container-fluid">
    <section>
        <h1>Security Tips: </h1>
        <h6><b>1. Share with caution-</b></h6>
        <p><b><i>Share only what's needed.</i></b> You should noway partake any further than is absolutely needed,
            particularly when
            it comes to largely sensitive particular information similar as public insurance or motorist’s license
            figures. Merchandisers produce online checkout forms with fields for inapplicable details to gather client
            data – but don’t bear similar fields to be completed. Skip the questions that aren’t pronounced “ needed ”
            with an asterisk and you’ll significantly ameliorate
        </p>
        <p><b><i>Your shopping obscurity suppose before participating bias.</i></b> Reassess how freely you partake in
            the bias you use to make
            purchases. However, it’s not a stylish idea to let a foreigner use your phone to make a call, If you have a
            digital portmanteau app. However, simply ask that guests use a different cybersurfer If you keep yourself
            logged into shopping spots on your home bias. Consider any device you use to make purchases similar to your
            portmanteau. participating without allowing doubt or taking introductory preventives is just asking for a
            problem down the road. redundant caution is advised if you use your mobile phone for any e-commerce
            exertion. Jailbroken phones are generally not suitable for secure commerce operations, as guileful downloads
            are likely to warrant dependable security features. Be cautious of storing usernames, watchwords, banking
            figures, and other sensitive information on your phone, including within apps assumed to be secretive.
            However, noway shoot largely sensitive information to others or indeed to yourself, If dispatch is connected
            to your phone. Treat your phone like your credit card; if it’s lost or stolen, one of the first ways to
            reduce collateral damage should be reaching your fiscal institution or credit card provider. Similarly, if
            you laboriously protect on a mobile device, you may want to consider a word director or other mobile
            security tool for advanced protection.
        </p>

        <p><b><i>Shared Wi-Fi = unsecured Wi-Fi.</i></b>As a rule of thumb, assume all participating Wi-Fi networks are
            unsafe for your sensitive data.
            Everything from an online bank statement to a Gmail account can be compromised when probing the web on a
            participating Wi-Fi network. It’s nearly insolvable to directly gauge how secure a Wi-Fi network is, and
            therefore it’s stylish to err on the side of caution. You also want to ensure you aren't connected to a
            participating Wi-Fi when making mobile deals. Saved network watchwords within your phone settings will
            automatically connect to preliminarily used Wi-Fi networks without any announcement. As a palladium, it’s
            stylish to disable Wi-Fi on your phone before beginning any type of mobile sale.</p>
    </section>
    <section>
        <h6><b>2. corroborate all URLs - </b></h6>
        <p>corroborate URLs for secure connections. Regular online shoppers know to check URLs for “ https ” security
            when making deals online, but numerous don’t know how constantly to check. In every step of the checkout
            process, the URL of the point should be translated, that is, it should read “ https ” rather than “ http. ”
            It’s also important to check for “ https ” when making purchases on the mobile web. Mobile purchases thrive
            off ease- of- use and convenience, making it indeed more important to take the time to check the URL. Use
            URLs to corroborate point legality. vindicating URLs is especially important in decoding the legality of
            spots discovered through announcements and hyperlinks. Any link presented in an dispatch, social media
            comment, or announcement can bring you to a fraudulent website. To make matters worse, deceitful spots are
            frequently nearly indistinguishable from the licit spots. Anyhow of how you come to a website or how clean-
            cut it appears, examine the URL. You don’t need to understand all corridor of it, but if the root sphere
            name( the part following “ www. ”) doesn't match the point content, chances are you should
            buyelsewhere.However, err on the side of caution, as ever, If in any mistrustfulness.</p>
    </section>
    <section>
        <h6><b>3. Question before you buy, save without question Question every point -</b></h6>
        <p>One of the easiest ways to avoid online scams is to ensure you’re shopping with a legal point. Beyond
            checking the URL for validity, a simple two-step process will help ensure the point is authentic. First,
            check that the point you plan to make a purchase on has a valid “ About us ” or “Communicate us ” run with
            contact information listed. Google is the point’s sphere; its Twitter, Facebook, and/ or LinkedIn accounts
            should be present on the first numerous affect runners. Genuine companies will have active social accounts
            and online discussions in place with consumers, whereas fraudulent spots are likely to show Google results
            of consumer complaints, warnings, or other swindle suggestions. Record all purchase details. After every
            purchase, make sure you have confirmation the trade took place. You should always admit a confirmation
            number or posted damage along with tracking information for shipments. Keep all bills and confirmation
            numbers, along with a dupe of the point’s contact information. still, screenshot your confirmation runner
            and any post-purchase information you admit on screen If you are uncertain about a trade from the get-go.
            Screenshots allow you to save details you don’t yet know you need, analogous as conclude- in boxes left
            checked for ongoing payments or class activations.</p>
    </section>
    <section>
        <h6><b>4. Keep payment styles separate from bank accounts - </b></h6>
        <p> concluded for credit, not disbenefit card payments. Although both credit cards and disbenefit cards can be
            used as a plastic payment system in-store, credit cards are swish for shopping online thanks to the online
            fraud protection most offer. When you pay via credit card, the payment is technically coming from the credit
            card company as a loan, rather than a fiscal payment abated directly from your bank account. Any processing
            crimes or spare charges can be caught on your credit card statement, if not sooner by the credit card
            company’s standard fraud protection measures in place. Alternatively, disbenefit card payments abate
            capitalism directly from your bank account and can be much more delicate to recoup or correct after the
            event. disbenefit card information is also a high target for hackers, as it provides an easy route for
            piercing and draining your accounts. Use virtual credit cards as demanded. Some financial institutions and
            credit card companies offer virtual credit cards( VCC) for certain online purchases. your bank information.
            This type of disposable credit card payment system contains a pre-set spending amount, has a
            shorter-than-usual expiration date, and is original to a regular credit card for utmost payment purposes.
            Virtual credit card payments are generally charged to your credit or disbenefit card, rather than directly
            to your bank account, principally offering a fresh caste of protection. When you pay with a virtual credit
            card, your banking information remains separate from your individual purchase, thus icing if the card number
            is stolen, hackers can't pierce your accounts or throw down the card fraudulently.</p>
    </section>
    <section>
        <h6><b>5. You only have one online identity, so cover it still -</b></h6>
        <p>you’re crazy, If you suppose you don’t have an online identity. All you need is one dispatch address or a
            Facebook account, and you formerly have an online identity formed. No matter how conservative you are in the
            e-commerce sphere, the swish way to cover yourself is to cover your online identity laboriously. cover your
            online identity on the social front. Online purchasing is getting farther and farther social, with 50
            percent of web deals projected to be done via social media by 2015. Each time you join a new point through
            the “ Login with Facebook ” option, you’re extending your online identity further. In fact, a cornucopia of
            spots will first prompt you to come a member not by dispatch, but by connecting a social media account. When
            you also go on to distribute on these third-party spots while logged in via Facebook or Twitter, you are
            principally connecting the account with a credit card. Is it a direct connection? Technically, no. Will it
            be used to shape your online identity? Absolutely. Your social media presence defines your digital footprint
            to the point where companies are looking to use your social media identity to combat online payment fraud
            and your social signals to attack identity fraud in the near future. Once you realize that the maturity of
            your online exertion is connected, you can defend yourself from making thoughtless choices that may peril
            your data. Just like you shouldn’t post goods you don’t want your employer to see on Facebook, you also
            shouldn’t post anything you don’t want a hacker to see, like a picture of your automobilist’s license or
            passport, anything with a home address and any shots that include a visible credit card or credit card
            number. It’s also smart to choose watchwords, passphrases, and answers to security questions that can't be
            derived from your online social presence.</p>
    </section>
    <section>
        <p style="align-self: center; text-align: center; margin-top: 50px;"> ------------------ xxx ------------------ </p>
    </section>
</div>